<ul class="carouselContainer">
    <li class="carousel full" id="choix1">
        <img class="logo" src="assets/images/portfolio/logo_lsn.png" alt="logo de La Société Nouvelle">
        <div id="lsn" class="titre">La Société Nouvelle</div>
    </li>
    <li class="carousel empty" id="choix2">
        <img class="soon" src="assets/images/portfolio/soon.png" alt="">
        <div class="titre">Peut-être votre logo prochainement !</div>
    </li>
    <li class="carousel empty" id="choix3">
        <img class="soon" src="assets/images/portfolio/soon.png" alt="">
        <div class="titre">Peut-être votre logo prochainement !</div>
    </li>
    <li class="carousel empty" id="choix4">
        <img class="soon" src="assets/images/portfolio/soon.png" alt="">
        <div class="titre">Peut-être votre logo prochainement !</div>
    </li>
    <li class="carousel full" id="choix5">
        <img class="logo" src="assets/images/portfolio/logo_ddz.png" alt="logo de DevDeeZ">
        <div id="devdeez" class="titre"><span class="upper" id="firstlogo">d</span>ev<span class="upper" id="secondlogo">d</span>ee<span class="upper" id="thirdlogo">z</span></div>
    </li>
    <li class="carousel empty" id="choix6">
        <img class="soon" src="assets/images/portfolio/soon.png" alt="">
        <div class="titre">Peut-être votre logo prochainement !</div>
    </li>
    <li class="carousel empty" id="choix7">
        <img class="soon" src="assets/images/portfolio/soon.png" alt="">
        <div class="titre">Peut-être votre logo prochainement !</div>
    </li>
    <li class="carousel empty" id="choix8">
        <img class="soon" src="assets/images/portfolio/soon.png" alt="">
        <div class="titre">Peut-être votre logo prochainement !</div>
    </li>
</ul>

<h2 class="upper">portfolio</h2>

<ul class="listMainDevice">
    <li class="portfolio" id="site1">
        <iframe id="lsn" src="https://lasocietenouvelle.org/" sandbox="allow-scripts"></iframe>
        <button class="visit"><a target=_blank href="https://lasocietenouvelle.org/">Visiter le site</a></button>    
    </li>
    <li class="portfolio" id="site2">
        
    </li>
    <li class="portfolio" id="site3">
        
    </li>
    <li class="portfolio" id="site4">
        
    </li>
    <li class="portfolio capture" id="site5">
        <!-- <iframe id="ddz" src="https://devdeez.fr" sandbox=""></iframe> -->
        <img id="ddz" src="assets/images/portfolio/ddz_capture.png" alt="capture du site devdeez">
        <!-- <button class="visit"><a target=_blank href="https://devdeez.fr">Visiter le site</a></button> -->
    </li>
    <li class="portfolio" id="site6">
        
    </li>
    <li class="portfolio" id="site7">
        
    </li>
    <li class="portfolio" id="site8">
        
    </li>
</ul>

<ul class="listSecondDevice">
    <button class="visit"></button>
    <li class="portfolio" id="site9">
        <iframe id="lsn" src="https://lasocietenouvelle.org/" sandbox="allow-scripts"></iframe>
    </li>
    <li class="portfolio" id="site10">
        
    </li>
    <li class="portfolio" id="site11">
        
    </li>
    <li class="portfolio" id="site12">
        
    </li>
    <li class="portfolio capture" id="site13">
        <!-- <iframe id="ddz" src="https://devdeez.fr" sandbox=""></iframe> -->
        <img id="ddz" src="assets/images/portfolio/ddz_capture_port.png" alt="capture du site devdeez">
    </li>
    <li class="portfolio" id="site14">
        
    </li>
    <li class="portfolio" id="site15">
        
    </li>
    <li class="portfolio" id="site8">
        
    </li>
</ul>
