<h2 class="upper">portfolio</h2>

<div id="deco"></div>

<div id="portfolio">
    <div id="portfolioNavbar">
        <div id="logo">
            <img class="logo" src="assets/images/portfolio/icon_ddz.svg" alt="logo de DevDeeZ">
        </div>

        <ul class="carouselContainer">
            <li class="carousel full btnPortfolio1" id="choix1">
                <img class="logo" src="assets/images/portfolio/logo_acp.png" alt="logo du Chat Positif">
                <div id="chapos" class="titre">Au Chat Positif</div>
            </li>
            <li class="carousel full btnPortfolio2" id="choix2">
                <img class="logo" src="assets/images/portfolio/icon_gern.svg" alt="logo du GERN">
                <div id="GERN" class="titre">GERN - Ergonomie & Conception</div>
            </li>
            <li class="carousel full btnPortfolio2" id="choix3">
                <img class="logo" src="assets/images/portfolio/icon_nn.svg" alt="logo de Nashira News">
                <div id="Nahira" class="titre"><span id="color1">Nashira</span>&nbsp;<span id="color1">News</span>&nbsp;-&nbsp;Linktree</div>
            </li>
            <li class="carousel full btnPortfolio3" id="choix4">
                <img class="logo" src="assets/images/portfolio/icon_ddz.svg" alt="logo de DevDeeZ">
                <div id="dedeez" class="titre"><span class="upper" id="firstlogo">d</span>ev<span class="upper" id="secondlogo">d</span>ee<span class="upper" id="thirdlogo">z</span></div>
            </li>
        </ul>
        
        <div id="navigation">
            <ul class="listButton">
                <li id="visit1" class="button">
                    <button class="visit"><a target=_blank href="https://auchatpositif.fr/">Visiter le site</a></button>
                </li>
                <li id="visit2" class="button">
                    <button class="visit"><a target=_blank href="https://www.gestion.gern-ergonomie.com/">Visiter le site</a></button>    
                </li>
                <li id="visit3" class="button">
                    <button class="visit"><a target=_blank href="">Plus en ligne</a></button>    
                </li>
                <li id="visit4" class="button">
                    <button class="visit"><a target=_blank href="">Vous y êtes !</a></button>    
                </li>
            </ul>
        </div>
    </div>
    
    <ul class="listMainDevice">
        <li class="portfolio" id="site1">
            <iframe id="acp" class="desktop" src="https://auchatpositif.fr/" sandbox="allow-same-origin allow-scripts"></iframe>
            <iframe id="acp" class="mobile" src="https://auchatpositif.fr/" sandbox="allow-same-origin allow-scripts"></iframe>
        </li>
                                                            <!-- GERN -->
        <li class="portfolio capture" id="site2">
            <img class="desktop" src="assets\images\portfolio\Screenshot Gern.png" alt="capture du site Gern ergonomie et conception">
            <img class="mobile" src="assets\images\portfolio\Screenshot Mobile Gern.png" alt="capture du site Mobile Gern ergonomie et conception">
        </li>
                                                             <!-- NN -->
        <li class="portfolio capture" id="site3">
            <img id="Nash" class="desktop" src="assets\images\portfolio\Screenshot NN - Réseaux.png" alt="capture du site linktree Nashira News">
            <img class="mobile" src="assets\images\portfolio\Screenshot Mobile NN - Réseaux.png" alt="capture du site Mobile linktree Nashira News">
        </li>
                                                           <!-- DevDeez -->
        <li class="portfolio capture" id="site4">
            <img class="desktop" src="assets\images\portfolio\Screenshot DevDeeZ.png" alt="capture du site devdeez">
            <img class="mobile" src="assets\images\portfolio\Screenshot Mobile DevDeeZ.png" alt="capture du site Mobile devdeez">
        </li>
    </ul>
    
    <ul class="listSecondDevice">
        <li class="portfolio capture" id="site9">
            <img class="mobile" src="assets\images\portfolio\Screenshot Mobile Au chat Positif.png" alt="capture du site Mobile Au chat positif">
        </li>
                                                                    <!-- GERN -->
        <li class="portfolio capture" id="site10">
            <img class="mobile" src="assets\images\portfolio\Screenshot Mobile Gern.png" alt="capture du site Mobile Gern ergonomie et conception">
        </li>
                                                                     <!-- NN -->
        <li class="portfolio capture" id="site11">
            <img class="mobile" src="assets/images/portfolio/Screenshot Mobile NN - Réseaux.png" alt="capture du site Mobile linktree Nashira News">
        </li>
                                                                   <!-- DevDeez -->
        <li class="portfolio capture" id="site12">
            <img class="mobile" src="assets/images/portfolio/Screenshot Mobile DevDeeZ.png" alt="capture du site Mobile devdeez">
        </li>
    </ul>
</div>
