<head>   
    <title>DevDeeZ</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="src/styles.scss"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Device -->
    <!-- <meta name="viwport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
    <meta name="format-detection" content="telephone=no">
    <!-- Title -->
    <title>DevDeeZ Website</title>
    <!-- Description -->
    <meta name="description" content="Home description.">
</head>