/* Theming */

$bg-logo-color: #291b25;    /* Dark-brown */
$dark-brown: #1b1219;    /* Dark-brown outset style */
$primary-color: #51abb2;  /* Light-blue */
$secondary-color: #f14902;  /* Orange */
$bg-color: #dacaa4;  /* Beige */
$bg-color-invert: invert($bg-color, 60%); /* Blue-Gray */


html{
  height: 100%;

  overflow-x: hidden;
  overflow-y: scroll;
  body {
    height: max-content;
    width: 100vw;
  
  
    background-color: $bg-color;
    color: white;
    scroll-behavior: smooth;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    transition: background-color 500ms ease-in-out;
  
    .upper{
      text-transform: uppercase;
    }
  }
}


@mixin xs {
  @media (max-width: 599px) { @content; }
}
@mixin sm {
  @media (max-width: 999px) { @content; }
}
@mixin md {
  @media (max-width: 1199px) { @content; }
}
@mixin lg {
  @media (min-width: 1200px) { @content; }
}
@mixin xl {
  @media (min-width: 1800px) { @content; }
}
@mixin screen-min($width) {
  @media (min-width:$width) { @content }
}

@keyframes blur360 {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, 22px, 0);
  }
  50% {
    transform: translate3d(0, 20px, 0);
  }
  55% {
    transform: translate3d(0, 22px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}