@import 'scss/base';
@import '../assets/fonts/webfonts/stylesheet.css';

#background {
    position: fixed;
    z-index: 1;
    height: 100vh;

    transform: translate3d(0px,0px,0px);    
    filter: invert(0%);
    transition: transform 1000ms, filter 700ms;
}
