@import 'scss/base';
@import '../assets/fonts/webfonts/stylesheet.css';


#contact{
    position: absolute;
    top: 3600px;
    width: 100%;
    height: max-content;
    z-index: 3;

    grid-column: 4/6;

    background: $bg-logo-color;
    padding: 10px;
    border-top: inset 20px $bg-logo-color;
    border-left: inset 20px $bg-logo-color;
    border-right: outset 20px $bg-logo-color;
    border-bottom: outset 20px $bg-logo-color;
    border-radius: 10px;
    
    @include xs {
        z-index: 4;
        width: 100%;
        
        grid-column: 2 / 6;
    }
    @include md {
        padding: 20px;
        border-top: inset 35px $bg-logo-color;
        border-left: inset 35px $bg-logo-color;
        border-right: outset 35px $bg-logo-color;
        border-bottom: outset 35px $bg-logo-color;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
    }
    @include lg {
        grid-column: 4 / 6;
    }

    transform: translate3d(0,0,0);
        
    transition: transform 1000ms ease-in-out;

    h2{
        position: absolute; 
        top: -78px;
        right: 20px;

        background: $bg-logo-color;
        padding: 10px;
        border-top: inset 20px $bg-logo-color;
        border-left: inset 20px $bg-logo-color;
        border-right: outset 20px $bg-logo-color;
        border-radius: 10px;

        font-family: 'Glacial-Indifference';
        font-size: 30;
        font-weight: bold;

        @include md {
            top: -90px;
            font-size: 40;
        }
        @include xs {
            top: -65px;
            font-size: 20;
        }
    }

    
    p{
        display: flex;
        flex-direction: column;
        position: relative; 
        
        font-family: 'Glacial-Indifference';
        font-size: 15;
        width: 100%;
        text-align: justify;

        a{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 30px;
            color: $bg-color;

            #mail{
                width: 30px;
                height: 30px;
                margin-right: 20px;

                @include md {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        

        @include md {
            font-size: 20;
        }
        @include lg {
            font-size: 25;
        }
    }
}