@import 'scss/base';
@import '../assets/fonts/webfonts/stylesheet.css';

#portfolioContainer{
    z-index: 1;

    width: 90%;
    justify-self: center;

    @include xs {
        justify-self: right;
        width: 95%;
    }

    transform: translate3d(0,0,0);
        
    transition: transform 1000ms ease-in-out;


    #portfolioNavbar{
        display: grid; 
        grid-template-columns: 40px 1fr; 
        grid-template-rows: 40px; 
        gap: 0px 4px; 
        grid-template-areas: 
            "a b c"; 

        background-color: #313131;

        @include sm{
            grid-template-columns: 40px 1fr; 
            grid-template-rows: 40px 40px 40px 40px 40px;
            grid-template-areas: 
                "a b" "a b" "a b" "a b" "a c"; 
        }

        #logo{
            grid-area: a;
            padding: 4px;
            border-right: solid 2px #b3b0ac;
        }

        .carouselContainer{
            grid-area: b;
            width: 100%;
            height: 40px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            justify-content: left;
            align-items: center;
            
            @include sm {
                height: 100%;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: space-around;
            }
            
            
            .carousel{
                width: fit-content;
                height: 32px;
    
                margin: 2px;

                padding: 4px;
                border-radius: 5px;
                
                cursor: default;
                
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                
                @include sm {
                    width: 100%;
                    margin-top: 4px;
                    height: 32px;
                    justify-content: center;
                }
                
                .logo{
                    height: 24px;
                    width: 24px;
                    
                    cursor: pointer;
                }
    
                .titre{
                    display: flex;
                    height: 24px;
                    font-family: 'Glacial-Indifference';
                    font-size: 1vw;
                    width: fit-content;
                    text-align: center;
                    margin: 8px;
                    align-items: center;

                    @include xs {
                        font-size: 2.5vw;
                    }
                    @include sm {
                        font-size: 2vw;
                    }
                }

                #Nashira{
                    cursor: pointer;
                    font-family: 'Roboto' ;
    
                    #color1{
                        color: #02b1ce;
                    }

                    @include xs {
                        font-size: 2.5vw;
                    }
                }
                
                #devdeez{
                    cursor: pointer;
                    font-family: 'MoonTime' ;
                    font-size: 1.7vw;
                    
                    #firstlogo{
                        color: $primary-color;
                    }
                    
                    #thirdlogo{
                        color: $secondary-color;
                    }
                    
                    @include xs {
                        font-size: 3.5vw;
                    }
                }
    
                #chatpos{
                    cursor: pointer;
                    font-family: 'IndieFlower' ;
                    font-size: 1.3vw;;
                    font-weight: bold;
                    color: #59665d;
                    
                    @include xs {
                        font-size: 3vw;
                    }
                }
            }

            .carousel.selected{
                background-color: #bbb8b3;
            }
            .carousel:hover{
                background-color: #bbb8b3;
            }

        }

        #navigation{
            grid-area: c;

            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 4px;

            .listButton{
                height: 32px;
                .button {
                    display: none;
                }
    
                .selected {
                    display: flex;
                }
    
                .visit{
                    justify-self: center;
                    cursor: pointer;
                    border-radius: 5px;
                    padding: 4px;
                    height: 31px;
                    width: 150px;
                    background-color: $primary-color;
                    font-family: 'Glacial-Indifference';
                    font-size: 18;

                    @include sm {
                        width: 100%;
                    }
                }
    
                .visit:hover{
                    background-color: $secondary-color;
                }

                @include sm {
                    width: 100%;
                }
            }
        }
    }


    h2{
        position: absolute; 
        top: -70px;
        right: 150px;

        background: $bg-logo-color;
        padding: 10px;
        border: solid 20px $dark-brown;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        font-family: 'Glacial-Indifference';
        font-size: 30;
        font-weight: bold;

        @include lg {
            right: 200px;
            font-size: 40;
        }
        @include xl {
            right: 250px;
            font-size: 40;
        }

        @include sm {
            right: 75px;
        }

        @include xs {
            right: 50px;
            font-size: 20;
        }
    }


    .listMainDevice{
        height: max-content;
        display: flex;
        justify-content: center;


        .portfolio{
            width: 100%;
            z-index: 0;
            
            display:none;
            filter: opacity(0%);
            flex-direction: column;
            align-items: center;

            .desktop{
                display: flex;

                @include sm {
                    display: none;
                }
            }

            .mobile{
                display: none;

                @include sm {
                    display: flex;
                }
            }

            #Nash{
                min-height: 100%;
            }
        }

        .capture{
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .selected{
            display: flex;

            filter: opacity(100%);

            transition: filter 50000ms ease-in-out;
        }
    }


    .listSecondDevice{
        position: absolute;
        top: 150px;
        right: 30px;

        height: 709px;
        width: 384px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        
        border: solid 20px $dark-brown;
        border-bottom: solid 70px $dark-brown;
        border-radius: 20px;
        background-color: #ffffffcc;

        @include md{
            display: none;
        }

        .portfolio{
            position: absolute;
            left: -2px;
            top: -2px;
            width: 367px;
            
            display:none;
            filter: opacity(0%);
            flex-direction: column;
            align-items: center;
            
            
        }

        .capture{
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .selected{
            display: flex;
            
            overflow: hidden;

            filter: opacity(100%);

            transition: filter 50000ms ease-in-out;
        }
    }
}